@tailwind base;
@tailwind components;
@tailwind utilities;

.prose figure img {
  margin-bottom: 0 !important;
}

.prose iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.prose blockquote {
  font-style: normal;
}

.prose blockquote p::before,
.prose blockquote p::after {
  content: "";
}

.prose code:not(:where([class~="not-prose"] *)) {
  background-color: #1e293b;
  border-radius: 4px;
  padding: 0 0.5rem;
}

.prose code::before,
.prose code::after {
  content: ""
}

.prose figure {
  margin: 0;
  margin-left: 3rem;
}

.prose figcaption {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
}
.prose figcaption a {
  font-size: 0.75rem;
  text-align: center;
  color: #7f8898;
}

.special_list li {
  list-style: "👉";
}

.special_list li:not(:first-of-type) {
  margin-top: 2rem;
}
